:root {
    --color_letra: #2AAEF0;
}

.enlace {
    text-decoration: none;
    color: #2AAEF0;
}

.cabecera {
    font-family: Arial, sans-serif;
    font-size: 20px;
    position: sticky;
    top: 0;
    background-color: #22262c;
    color: #2AAEF0;
}

.menu {
    width: 80%;
    margin: auto;
}

.logo a{
    display: inline-block;
    height: 42px;
    position: absolute;
    bottom: 5px;
}

.logo  img {
    height: 100%;
    width: 100%;
    background-color: #2AAEF0;
    margin-top: 20px;
}

.menu_buttons {
    margin-left: 80px;
}

.cabecera a {
    cursor: pointer;
}

.cabecera a {
    padding-inline: 30px;
    padding-block: 20px;
    display: inline-block;
}

.dropdown {
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #1b1e22;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_content a {
    display: block;
}

.cabecera i {
    display: inline;
    padding-left: 10px;
    line-height: 0;
    position: relative;
    top: 5px;
}