.enlace {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: color 0.3s ease;
}

.enlace:hover {
    color: green;
}

.cabecera {
    z-index: 1;
    font-family: Arial, sans-serif;
    font-size: 20px;
    position: sticky;
    top: 0;
    background-color: #22262c;
    color: white;
}

.menu {
    width: 80%;
    margin: auto;
}

.logo a{
    display: inline-block;
    height: 42px;
    position: absolute;
    bottom: 5px;
}

.logo  img {
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

.menu_buttons {
    margin-left: 80px;
}

.cabecera a {
    cursor: pointer;
}

.cabecera a {
    padding-inline: 30px;
    padding-block: 20px;
    display: inline-block;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #1b1e22;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 02);
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_content a {
    display: block;
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0,3 ease;
}

.dropdown_content a:hover{
    background-color: aliceblue;
}

.cabecera i {
    display: inline;
    padding-left: 10px;
    line-height: 0;
    position: relative;
    top: 5px;
}

