
.enlace {
    text-decoration: none;
    color: #BDD817;
}

.cabecera {
    font-family: Arial, sans-serif;
    font-size: 20px;
    position: sticky;
    top: 0;
    background-color: #22262c;
    color: #BDD817;
}

.menu {
    width: 80%;
    margin: auto;
}

.logo a{
    display: inline-block;
    height: 42px;
    position: absolute;
    bottom: 5px;
}

.logo  img {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    background-color: #BDD817;
}

.menu_buttons {
    margin-left: 80px;
}

.cabecera a {
    cursor: pointer;
}

.cabecera a {
    padding-inline: 30px;
    padding-block: 20px;
    display: inline-block;
}

.dropdown {
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #1b1e22;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_content a {
    display: block;
}

.cabecera i {
    display: inline;
    padding-left: 10px;
    line-height: 0;
    position: relative;
    top: 5px;
}

@media only screen and (max-width: 700px) {
    
    .cabecera {
        padding: 15px;
        text-align: center;
    }


    nav {
        display: flex;
        align-items: center;
    }

    .menu {
        width: 100%;
        background-color: #22262c;
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    .menu_buttons {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .checkbtn {
        display: block;
    }

}