/*/================================================== CUERPO ============================================================/*/


img {
    width: 600px;
    height: 400px;
}

.izquierda img {
    width: 50%;
    height: auto;
    margin-inline: 28%;
}

.resto img {
    width: 70%;
    height: auto;
}

.cuerpo { margin: 3%;}



.cuerpo {
    color: #f7f4f3;
    width: 90%;
    margin-inline: auto;
    margin-block: 20px;
    display: flex;
    flex-direction: row;
    background-color: #22262c;
}



.portada {
    grid-area: portada;
    width: calc(100% - 100px);
    margin-inline: 3%;
    padding: 20px;
}

.portada h1 {
    text-align: center;
}

body {
    background-color: #d44a4a;
    position: relative;
}

.portada h2 {
    padding: 20px;
    margin-top: 0;  
}

.contenedor {
    flex: 1;
    margin-right: 20px;
}

.contenido {
    flex: 4;
    margin-left: 20px;
}

/*/================================================== CARRUSEL ============================================================/*/


.slider-frame {
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden; 
    position: relative;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 1000%;
    animation: slide 40s infinite alternate ease-in-out;
    list-style: none;
    position: relative;
    left: 0;
}

.slider-frame li {
    list-style: none;
    width: 100%;  
    box-sizing: border-box; 
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    8% {margin-left: 0%;}

    10% {margin-left: -100%;}
    18% {margin-left: -100%;}

    20% {margin-left: -200%;}
    28% {margin-left: -200%;}

    30% {margin-left: -300%;}
    38% {margin-left: -300%;}

    40% {margin-left: -400%;}
    48% {margin-left: -400%;}

    50% {margin-left: -500%;}
    58% {margin-left: -500%;}

    60% {margin-left: -600%;}
    68% {margin-left: -600;}

    70% {margin-left: -700%;}
    78% {margin-left: -700%;}

    80% {margin-left: -800%;}
    88% {margin-left: -800%;}

    90% {margin-left: -900%;}
    98% {margin-left: -900%;}
}

/*/================================================== PIE ============================================================/*/
.pie {
    padding-block: 50px;
    padding-inline: 12%;
    margin-top: 100px;
    background-color:#22262c;
}

.pie p { 
    text-align: justify !important; 
    color: red;
}

.pie a {
    padding-left: 10px;
    text-align: justify !important;
    display: list-item;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.pie a:visited {
    color: rgb(255, 255, 255);
}

.pie a:hover {
    color: red;
    transform: scale(1.02);
    transition: transform 0.3s;
}

.MapaLink {
    display: inline-block;
}

.pie a { transition: transform 0.3s; }

/*/================================================== MEDIA ============================================================/*/
