
img {
    width: 600px;
    height: 400px;
}

.cuerpo { margin: 0;}

.cuerpo {
    color: #f7f4f3;
    width: 90%;
    margin-inline: auto;
    margin-block: 20px;
    display: flex;
    flex-direction: row;
    background-color: #22262c;
}

.col-1 {
    grid-area: col-1;
}
.portada {
    grid-area: portada;
}

body {
    background-color: #d44a4a;
}

.portada h2 {
    padding: 20px;
    margin-top: 0;  
}

.contenedor {
    flex: 1;
    margin-right: 20px;
}

.contenido {
    flex: 4;
    margin-left: 20px;
}

-------------------------------------------------


.slider-frame {
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden; 
    position: relative;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    list-style: none;
    position: relative;
    left: 0;
}

.slider-frame li {
    list-style: none;
    width: 100%;  
    box-sizing: border-box; 
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}