/*/ SECCIONES ========================================================================================== /*/

.juegos {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-inline: auto;
    justify-content: center;

}

.juego {
    position: relative;
    margin: 10px;
}

.juego img {
    width: 300px;
    transition: transform 0.3s;
}

.juego:hover img {
    transform: scale(1.1);
    opacity: 1;
}

.juego:hover .titulo-juego {
    opacity: 1;
}

.titulo-juego {
    font-style: bold;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s;
}


/*/ BODY =============================================================================== /*/
body {
    background-color: rgb(226, 219, 185);
    width: 80%;
    margin-inline: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    z-index: -2;
}

.infoshooters {
    border-radius: 20px;
    padding: 30px;
    background-color: rgb(255, 251, 243);
}

/*/================================================== PIE ============================================================/*/

.pie {
    padding-left: 50px;
    padding-block: 60px;
    margin-top: 100px;
    background-color:rgb(255, 251, 243) ;
}
.pie a {
    display: list-item;
    color: black;
    text-decoration: none;
    max-width: 100px;
}
.pie a:visited {
    color: rgb(58, 58, 58);
}
.pie a:hover {
    background-color: aqua;
}
.MapaLink {
    display: inline-block;
}