body {
    background-color: rgb(91, 219, 166);
}
.cuerpo {
    padding-inline: 15%;
}

.links a{
    text-decoration: none;
    font-size: larger;
    color: whitesmoke;
}

/*/================================================== CARRUSEL ============================================================/*/

img {
    width: 600px;
    height: 400px;
}

.slider-frame {
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden; 
    position: relative;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 20s infinite alternate ease-in-out;
    list-style: none;
    position: relative;
}

.slider-frame li {
    list-style: none;
    width: 100%;  
    box-sizing: border-box; 
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    50% {margin-left: -100%;}

    55% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}

}

/*/================================================== PIE ============================================================/*/

.pie {
    margin-top: 10px;
    background-color:lightblue ;
}
.pie a {
    display: list-item;
    color: black;
    text-decoration: none;
    max-width: 100px;
}
.pie a:visited {
    color: gray;
}
.pie a:hover {
    background-color: aqua;
}
.MapaLink {
    display: inline-block;
}