/*/ SECCIONES ========================================================================================== /*/

.juegos {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-inline: auto;
    justify-content: center;

}

.juego {
    position: relative;
    margin: 10px;
}

.juego img {
    width: 300px;
    transition: transform 0.3s;
}

.juego:hover img {
    transform: scale(1.1);
    opacity: 1;
}



/*/ BODY =============================================================================== /*/
body {
    background-color: rgb(226, 219, 185);
    width: 80%;
    margin-inline: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    z-index: -2;
}

.infoshooters {
    border-radius: 20px;
    padding: 30px;
    background-color: rgb(255, 251, 243);
}

/*/================================================== PIE ============================================================/*/

.pie {
    font-size: 20PX;
    padding-left: 50px;
    padding-block: 60px;
    margin-top: 100px;
    background-color:rgb(255, 251, 243) ;
}
.pie a {
    display: list-item;
    color: black;
    text-decoration: none;
    max-width: 15%;
}
.pie a:visited {
    color: rgb(58, 58, 58);
}

.pie a:hover {
    color: rgb(110, 109, 0);
    transform: scale(1.05);
    transition: transform 0.5s;
}

.MapaLink {
    display: inline-block;
}