/*/ SECCIONES =========================================================================================== /*/

.Secciones { margin-inline: auto; margin-bottom: 10px; height: 80%;}
.Secciones h3 { text-align: center; font-size: 30px; margin-top: 0; }
.Seccion {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-inline: 10px;
    position: relative;
    margin-bottom: 20px;
}
.Funcionamiento { background-image: url(../images/FuncionamientoFortnite.jpg); background-size: cover;}
.Plataformas { background-image: url(../images/PlataformasFortnite.jpg); background-size: cover; }
.Capitulos { background-image: url(../images/CapitulosFortnite.jpg); background-size: cover; }
.Cosmeticos { background-image: url(../images/CosmeticosFortnite.jpg); background-size: cover; }

.Seccion h4 {
    text-align: center;
    font-size: 25px;
    color: white;
}

.Descripcion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(228, 245, 255, 0.185);
    transform: translateX(50%) scaleX(0);
    transition: .5s ease;
    color: rgb(0, 15, 100);
}

.Seccion:hover .Descripcion {
    right: 0;
    transform: translateX(0) scaleX(1);
}

.separador_secciones {
    width: 80%;
    margin-inline: auto;
    background-color: white;
    height: 10px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.Secciones {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    margin-block: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited { color: rgb(255, 255, 255); }

a:link { color: white; }

/*/ otros =============================================================================================== /*/

.enlace:visited {color: rgb(0, 132, 255);}
.enlace:link {color: rgb(0, 132, 255);}

body {
    background-color: black !important;
    color: white !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: 18px !important;
}

.titulo {
    width: 80%;
    margin-inline: auto;
    text-align: center;
    margin-block: 40px;

}

@media screen and (max-width: 600px) {

    .titulo img { width: 80%; }
    .Seccion {width: 140px; height: 140px;}
    .secciones {width: 100%;}
}

.titulo img {max-width: 500px;}

h1 { font-size: 300%; text-align: center; }

.carousel-dark {
    width: 80%;
    margin-inline: auto;
    margin-bottom: 30px;
}

.contenidos {
    width: 80%;
    margin-inline: auto;
    text-align: justify;
}

.FloatIzquierda {
    float: left;
    width: 40%;
    margin-right: 20px;
    margin-bottom: 5px;
}

.contenidos img { margin-top: 5px; }