/*/ SECCIONES =========================================================================================== /*/

.secciones {
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-inline: auto;
    justify-content: center;

}

.seccion {
    position: relative;
    margin: 10px;
}

.seccion img {
    width: 300px;
    transition: transform 0.3s;
}

.seccion:hover img {
    transform: scale(1.1);
}

.seccion:hover .titulo-seccion {
    opacity: 1;
}

.titulo-seccion {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(2, 0, 90);
    padding: 5px;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s;
}



/*/ OTROS =============================================================================================== /*/

.enlace:visited {color: rgb(0, 132, 255);}
.enlace:link {color: rgb(0, 132, 255);}

body {
    background-color: black !important;
    color: white !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: 18px !important;
}

.titulo {
    width: 70%;
    margin-inline: auto;
    text-align: center;
    margin-block: 40px;

}

.titulo img {max-width: 500px;}

h1 {
    font-size: 300%;
    text-align: center;
}

.carousel-dark {
    width: 70%;
    margin-inline: auto;
    margin-bottom: 30px;
}

.contenidos {
    width: 70%;
    margin-inline: auto;
    text-align: justify;
}

.FloatIzquierda {
    float: left;
    width: 50%;
    margin-right: 10px;
}

.FloatDerecha {
    float: right;
    width: 50%;
    margin-left: 10px;
}

.contenidos img { margin-top: 5px; }

.separador_secciones {
    width: 70%;
    margin-inline: auto;
    background-color: white !important;
    border-radius: 20px;
    height: 6px;
    margin-bottom: 20px;
}

.Info {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

/*/ VERSIÓN MÓVIL ======================================================================================= /*/

@media screen and (max-width: 700px) {

    /*/ PÁGINA PRINCIPAL ----------------------------------------------------- /*/
    .titulo img { width: 70%; }
    .seccion {width: 140px; height: 140px;}
    .secciones {width: 100%;}
    .seccion :first-child :first-child { width: 140px; }
    .titulo-seccion { opacity: 1; font-size: 15px; color: white; top: -5px;}
    .pie .Info { font-size: 15px; }
    .Info { font-size: 25px; }
    .secciones { margin-bottom: -40px; width: 95%; }
    .titulo { width: 95%; }
    .contenidos { width: 95%; }
    .separador_secciones {width: 95%;}
    .carousel-dark { width: 95%; margin-block: 10px; }
    .contenidos {font-size: 13px;}

    /*/ GENERAL ------------------------------------------------------------- /*/
    .contenidos h1 { font-size: 30px;}
    .FloatIzquierda { width: 100%; margin-bottom: 10px}
    .FloatDerecha { width: 100%; margin-bottom: 10px}
}



/*/ PIE DE PÁGINA ======================================================================================= /*/

.pie {
    padding-block: 50px;
    padding-inline: 12%;
    margin-top: 100px;
    background-color:rgb(43, 43, 43) ;
}

.pie p { text-align: justify !important; }

.pie a {
    padding-left: 10px;
    text-align: justify !important;
    display: list-item;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.pie a:visited {
    color: rgb(255, 255, 255);
}

.pie a:hover {
    color: rgb(255, 251, 0);
    transform: scale(1.02);
    transition: transform 0.3s;
}

.MapaLink {
    display: inline-block;
}

.pie a { transition: transform 0.3s; }