/*/ SECCIONES =============================================================================================================================== /*/

.secciones {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-inline: auto;
    justify-content: center;

}

.seccion {
    position: relative;
    margin: 10px;
}

.seccion img {
    width: 300px;
    transition: transform 0.3s;
}

.seccion:hover img {
    transform: scale(1.1);
}

.seccion:hover .titulo-seccion {
    opacity: 1;
}

.titulo-seccion {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(2, 0, 90);
    padding: 5px;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s;
}

/*/ otros =============================================================================================== /*/

.enlace:visited {color: rgb(0, 132, 255);}
.enlace:link {color: rgb(0, 132, 255);}

body {
    background-color: black !important;
    color: white !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: 18px !important;
}

.titulo {
    width: 80%;
    margin-inline: auto;
    text-align: center;
    margin-block: 40px;

}

@media screen and (max-width: 600px) {

    .titulo img { width: 80%; }
    .seccion {width: 140px; height: 140px;}
    .secciones {width: 100%;}
    .seccion :first-child :first-child { width: 140px; }
    .titulo-seccion { opacity: 1; font-size: 15px; color: white; }


}

.titulo img {max-width: 500px;}

h1 { font-size: 300%; text-align: center; }

.carousel-dark {
    width: 80%;
    margin-inline: auto;
    margin-bottom: 30px;
}

.contenidos {
    width: 80%;
    margin-inline: auto;
    text-align: justify;
}

.FloatIzquierda {
    float: left;
    width: 50%;
    margin-right: 10px;
}

.FloatDerecha {
    float: right;
    width: 50%;
    margin-left: 10px;
}

.contenidos img { margin-top: 5px; }

.separador_secciones {
    width: 80%;
    margin-inline: auto;
    background-color: white !important;
    border-radius: 20px;
    height: 10px;
}
