ol {
    padding-top: 5px;
    text-align: left;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 15%;
    text-decoration: none;
}