h1{
    background-color: black ;
    color: whitesmoke;
}

h2 {
   background-color: black;
   color: whitesmoke; 
}
body {
    background-image: url(../IMAGES/);
    background-size: cover ;
    opacity: 75%;
}