h1{
    color: whitesmoke;
    padding-inline: 15%;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

h2 {
    color: whitesmoke; 
    padding-inline: 15%;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-decoration: underline;
}

.cuerpo {
    width: 70%;
    margin: auto;
    background-image: "";
}


.fotos div {
    text-align: center;
    padding-bottom: 10px;
    padding-inline: 75px;
}

.fotos a {
    width: 525px;
    margin: 20px;
    border: 1px solid lightgray;
    float: left;
    background-color: black;
    text-decoration: none;
    color: whitesmoke;
}

.fotos img {
    width: 100%;
}

.cuerpo p{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and ((min-width:768px ) and (max-width:1024px) ) {
    .card {
    width: calc(50% - 20px);
    }
}

@media screen and ((min-width:340px ) and (max-width:400px) ) {
    .card {
    width: calc(100% - 20px);
    }
=======
    color: whitesmoke; 
    padding-inline: 15%;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-decoration: underline;
}
body {
    background-image: url(../IMAGES/R6fondo2.webp);
    background-size: cover ;
}

.fotos img {
    max-width: 550px;
}

.fotos a {
    float: left;
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
}

.fotos {
    text-align: center;
    padding-bottom: 10px;
    padding-inline: 20px;
    display: inline-block;
}
.texto {
    text-align: center;
    padding: 70%;
}

.fotos a:hover {
    color: whitesmoke;
    border: 2px black;
    text-decoration: none;
}

p {
    padding-inline: 15%;
    text-align: justify;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textos {
    text-align: left;
}

ul {
    padding-top: 5px;
    text-align: left;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-inline: 15%;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}
.pie {
    border: 2px solid black;
    margin-inline: 100px;
    background-color: lightblue;
    font-size: larger;
    margin-top: 20px;
}
.fotos {
    padding-left: 150px;
}

.Mapalink {
    float: right;
}