.imgblackice {
    width: 900px;
    padding-bottom: 10px;
    padding-left: 15%;
    margin: auto;
}

.textomas {
    float: right;
}
@media screen and ((min-width:768px ) and (max-width:1024px) ) {
    .blackice img {
    width: 600px;
    padding-left: 8%;
    padding-inline: 8%;
    }
    h1, h2 {
        padding-inline: 8%;
        font-size: x-large;
    }
    p {
        padding-inline: 8%;
        font-size: medium;
    }
}

@media screen and ((min-width:360px ) and (max-width:400px) ) {
    .blackice img {
    width: 300px;
    padding-left: 0%;
    padding-inline: 0%;
    }
    h1, h2 {
        padding-inline: 0%;
        font-size: larger;
        text-align: center;
    }
    p {
        padding-inline: 0%;
        font-size: smaller;
    }
    .pie {
        margin-inline: 0px;

    }
    .pie a {
        display: inline-block;
    }
}
