.epico {
    color: darkred;
    text-shadow: 1px 1px black;
    font-family: "Aboreto", system-ui;
    font-weight: bold;
    font-style: italic;
}
h3 {
    color: whitesmoke; 
    padding-inline: 15%;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-decoration: underline;
}

.deimos {
    padding-left: 15%;
    height: 300px;
    width: 1050px;
}

.desc {
    padding-inline: 15%;
    text-align: justify;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    padding-top: 20px;
}
.contenido {
    display: flex;
    flex-direction: column;
}

.contenidoflex {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.imgdeimos {
    margin-right: 20px; 
    width: 600px;
    padding-bottom: 10px;
    padding-left: 10%;
}

.parrafoDeimos {
    flex: 1; 
    text-align: justify;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

@media screen and ((min-width:768px ) and (max-width:1024px) ) {
    .deimos {
    width: 550px;
    padding-left: 0%;
    padding-inline: 0%;
    }
    h1, h2 {
        padding-inline: 8%;
        font-size: x-large;
    }
    p {
        padding-inline: 8%;
        font-size: medium;
    }
    .imgdeimos img{
        width: 550px;
        padding-left: 0%;
        padding-inline: 0%;
    }
}

@media screen and ((min-width:360px ) and (max-width:400px) ) {
    .deimos  {
    width: 300px;
    padding-left: 0%;
    padding-inline: 0%;
    display: none;
    }
    .imgdeimos img {
        width: 250px;
        padding-left: 0%;
        padding-inline: 0%;
    }
    h1, h2 {
        padding-inline: 0%;
        font-size: larger;
        text-align: center;
    }
    p {
        padding-inline: 0%;
        font-size: smaller;
    }
    .pie {
        margin-inline: 0px;

    }
    .pie a {
        display: inline-block;
    }

}